{% extends 'base.html' %}

{% block title %}Email{% endblock %}
{% block stylesheet %} {% endblock %}
{% block content %}

<h1>Contact Us</h1>
<form method="POST">
  {% csrf_token %}
  {% for field in form %}
    <div class="form-group row">
      {{ field.error }}
      <label class="col-sm-2 col-form-label" for="{{ field.name }}">{{ field.label_tag }}</label>
      <!-- {{ field.lable_tag }} -->
      {{ field }}
      {% if field.help_text %}
      <p class="help">{{field.help_text|safe}}</p>
      {% endif %}

    </div>
  {% endfor %}
  <div class="form-action">
    <button type="submit" name="button">send</button>
  </div>

</form>
{% endblock %}
